<launch>

    <!--Local test server-->
    <arg name="server_ip"   default="localhost"/>

    <!--Official Server ac1-->
    <!--<arg name="server_ip"   default="agentcontest1.in.tu-clausthal.de"/>-->

    <!--Official Server ac2-->
    <!--<arg name="server_ip"   default="agentcontest1.in.tu-clausthal.de"/>-->

    <arg name="password"    default="2eobCoj8"/>
    <arg name="only_agent_specific"    default="true"/>

    <!-- Enable custom logger configuration-->
    <env name="ROS_PYTHON_LOG_CONFIG_FILE" value="$(find tub_contest)/launch/python_logging.conf"/>

    <!--Infrastructure Nodes-->
    <include file="$(find tub_contest)/launch/graphhopper.launch">
    </include>

    <node pkg="knowledge_base" type="knowledge_base_node.py" name ="knowledgeBase_tub_contest" />


    <!--Agent nodes-->

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI1" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <!--The first bridge will always publish all general topics anyhow-->
        <arg name="only_agent_specific" value="false" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI1" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI2" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI2" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI3" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI3" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI4" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI4" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI5" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI5" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI6" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI6" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI7" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI7" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI8" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI8" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI9" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI9" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI10" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI10" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI11" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI11" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI12" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI12" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI13" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI13" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI14" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI14" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI15" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI15" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI16" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI16" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI17" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI17" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI18" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI18" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI19" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI19" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI20" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI20" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI21" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI21" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI22" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI22" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI23" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI23" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI24" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI24" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI25" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI25" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI26" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI26" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI27" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI27" />
    </include>

    <include file="$(find mac_ros_bridge)/launch/mac_ros_bridge.launch">
        <arg name="agent_name" value="TUBDAI28" />
        <arg name="server_ip" value="$(arg server_ip)" />
        <arg name="password" value="$(arg password)" />
        <arg name="only_agent_specific" value="$(arg only_agent_specific)" />
    </include>
    <include file="$(find tub_contest)/launch/rhbp_agent.launch">
        <arg name="agent_name" value="TUBDAI28" />
    </include>

</launch>
